.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 40%;
    background: linear-gradient(0deg, rgb(60, 60, 60), rgb(130, 130, 130));
    border: 1px solid black;
    border-radius: 5px;
}

.control > button {
    border-radius: 5px;
    padding: 5px 10px;
}

.control > .power-button {
    background: linear-gradient(0deg, rgb(160, 160, 160), rgb(230, 230, 230));
    margin-bottom: 30px;
}

.control > .power-button:active {
    background: linear-gradient(0deg, rgb(130, 130, 130), rgb(200, 200, 200));
}

.control > p {
    font-size: 17px;
}

.control > input {
    margin-bottom: 45px;
}

.control > h2 {
    font-size: 26px;
    margin-bottom: 20px;
    padding: 5px;
}

.control > .change-button {
    background: linear-gradient(0deg, rgb(160, 160, 160), rgb(230, 230, 230));
}

.control > .change-button:active {
    background: linear-gradient(0deg, rgb(130, 130, 130) rgb(200, 200, 200));
}


@media(max-width: 530px) {  
    .control {
        height: 45%;
        width: 90%;
    }

    .control > .power-button {
        margin-top: 20px;
    }

    .control > input {
        margin: 0;
    }

    .control > h2 {
        margin: 5px;
    }

    .control > .change-button {
        margin-bottom: 20px;
    }
}
